.top-bar {
  width: 100%;
  background: var(--secondary-color);
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  border: 1px solid #ececec;

  &--border-none {
    border: none;
  }

  &__navigation {
    display: flex;
    justify-content: flex-start;
    gap: 93px;
    align-items: center;
  }

  &__contact {
    display: flex;
    gap: 50px;
  }

  &__contact-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--quinary-color);
  }

  &__contact-icon {
    margin-right: 10px;
    fill: var(--quinary-color);
  }

  &__navigation-wrapper {
    display: none;
  }
}
